<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rester">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/store"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />


        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity android:name=".AddMenu"/>
        <activity android:name=".Menu_utama"/>
        <activity android:name=".Data_Restoran"/>
        <activity android:name=".Detail_restaurant"/>
        <activity android:name=".Detail_Reservasi"/>
        <activity android:name=".Profile"/>
        <activity android:name=".Registrasi"/>
        <activity android:name=".ReservasiList"/>
        <activity android:name=".Detail_Reservasi2"/>
        <activity android:name=".Konfirmasi"/>
        <activity android:name=".UploadToServer"/>
        <activity android:name=".UploadToServer2"/>
        <activity android:name=".Detail_Histori"/>
        <activity android:name=".HistoriList"/>
        <activity android:name=".Lupa_pass"/>
        <activity android:name=".ProgressList"/>
        <activity android:name=".Detail_Progress"/>
        <activity android:name=".Review"/>
        <activity android:name=".Data_RestoranRating"/>
    </application>

</manifest>